<html>
<title>Rutter / Pyramid / OpenAPI example</title>

<body>
    <h1>
        Rutter / Pyramid / OpenAPI example
    </h1>

    <ul>
        <li>
            <a href="/alpha">Alpha API</a>
        </li>
        <li>
            <a href="/bravo">Bravo API</a>
        </li>
    </ul>
</body>

</html>